<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukederrynz.android_test">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity android:name="com.lukederrynz.application_Hub.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Text To Speech Activity -->
        <activity
            android:name="com.lukederrynz.application_Hub.TextToSpeechActivity"
            android:parentActivityName="com.lukederrynz.application_Hub.MainActivity" />

        <!-- Weather Activity -->
        <activity
            android:name="com.lukederrynz.application_Hub.WeatherActivity"
            android:parentActivityName="com.lukederrynz.application_Hub.MainActivity" />

        <!-- Calculator Activity -->
        <activity
            android:name="com.lukederrynz.application_Hub.CalculatorActivity"
            android:parentActivityName="com.lukederrynz.application_Hub.MainActivity" />

        <!-- About Activity -->
        <activity
            android:name="com.lukederrynz.application_Hub.AboutActivity"
            android:parentActivityName="com.lukederrynz.application_Hub.MainActivity" />

        <!-- Dropper Activity -->
        <activity
            android:name="com.lukederrynz.application_Hub.DropperActivity"
            android:parentActivityName="com.lukederrynz.application_Hub.MainActivity"/>

    </application>

</manifest>